/* CSS declarations go here */
/*图片轮播*/
.carousel-inner>.item{
	height: auto;
	max-height: 500px;
	overflow: hidden;
}
.carousel-inner>.item>img{
	width: 100%;
}

.btn-u.btn-brd.btn-u-dark {
	color: #fff;
	background: #3498db;
}
