/* CSS declarations go here */
/*图片轮播*/
body{
	font-family:"微软雅黑" !important;
}
.carousel-inner>.item{
	height: 55vh;
	overflow: hidden;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 55% 0%;
	position: relative;
}
.main_slogan {
	height:60%;
	position:absolute;
	top:40%;
	left:15%;
	color:#666;
}
.carousel-inner>.item:nth-child(1){
	background-image: url('images/main.png');
}
.carousel-inner>.item:nth-child(2){
	background-image: url('images/promo2.jpg');
}
/*.carousel-inner>.item:nth-child(3){
	background-image: url(http://7xsbvv.com1.z0.glb.clouddn.com/%E5%8C%97%E5%A4%A7.jpg);
}*/
@media (min-width:768px) {
	.carousel-inner>.item:nth-child(2){
		background-position: center;;
	}
}
@media (max-width: 768px){
	.carousel-inner>.item>img{
		height: 50vh;
	}
}

.btn-u.btn-brd.btn-u-dark {
	color: #fff;
	background: #3498db;
}

/*合作学校部分*/
.all-schools img{
	display: inline;
	margin: 0 5px;
	width:12vw;
}
.img-responsive{
	width: 100%;
}
.school-price{
	color:red;
	font-size: 18px;
}
.btn.btn-success{
	margin-top: -5px;
	float: right;
  background-color: #5cb85c;
  transition: background-color 0.5s;
}
.btn.btn-success:hover{
	background-color: #333;
	color:#fff;
}
.news-v2 .news-v2-desc h3{
	margin:0 0 10px;
	font-weight: bold;
	font-size: 24px;
}
.news-v2 .news-v2-desc p{
	margin-top: 10px;
}
.news-v2 .news-v2-desc li{
	padding-left: 1em;
}
.news-v2 .news-v2-desc li.color-red{
	color:red;
}
.contacts-section2{
	padding-top: 0px;
}

/*解决手机上显示多张背景图问题*/
.parallax-counter-v4{
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}
.get-doxue{
	overflow: hidden;
}

/*导航小圆点位置*/
.one-page-header .navbar-nav > li > a:before{
	top:18px !important;
}

/*视频图片动画*/
.animate-scale{
	transform: scale(1,1);
	transition: transform 0.5s;
}
.animate-scale:hover{
	transform: scale(1.2,1.2);
	transition: transform 0.5s;
}
.news-v2-desc .size-small{
	font-size: 0.6em;
	float: left;
}

.news-v2 .news-v2-desc.card{
	background-color: #f7f7f7;
}

.news-v2-desc .float-right{
	float: right;
}
.my-btn{
	margin: 30px auto;
	display: block;
	width: 8em;
	float:right;
}

.add-border-bottom{
	border-bottom:3px solid #eee;
  border-radius: 0 0 4px 4px;
  transition: all 0.4s ease-in-out;
}
.add-border-bottom:hover{
  border-color: #72c02c;
}

/*跳转到顶部*/
.fa.fa-angle-up{
	position: fixed;
	bottom: 2em;
	right: 2em;
	color:#fff;
	background-color: rgba(0,0,0,0.4);
	width: 1.2em;
	height: 1.2em;
	line-height: 1.2em;
	text-align: center;
	border-radius: 5px;
	font-size: 32px;
	font-weight: bold;
	z-index: 100;
	cursor: pointer;
	display: none;
}
@media (max-width:768px ){
	.fa.fa-angle-up{
		right: 1em;
	}
}

/*--------------首页样式修改---------------*/

.item_title {
	text-align: left;
}
.testimonials-desc strong  {
 font-size: 1.4em;
 margin-top: 10px;
}
.student_desc{
	margin-top:5px;
	color: #666!important;
}
.student_content {
	margin-top: 15px;
}
.first{
	margin-top: 23px;
}
.third {
	margin-top:25px;
}
.student_content strong {
	font-size: 1.1em
}
.video_teacher{
	width:150px;
	height:150px;
	border-radius:50%;
	margin:0 auto;
	overflow:hidden;
	margin-bottom: 20px;
}
@media (min-width: 768px){
	.video_teacher {
		font-size: 100px;
		margin-left: 0px;
	}
}
.recording {
	width:100%;
	height:50px;
	font-size: 20px;
	text-align: center;
	background: rgba(0,0,0,.5);
	position: absolute;
	top: 0;
	color:white;
	padding-top: 10px;
}
.recording i {
	color:red;
	margin-right: 3px;
}

.cadidate-mid{
  margin: 0 auto;
	text-emphasis: center;
}
.cadidate-mid p{
  color: #555;
  line-height: 30px;
}
