/* CSS declarations go here */
/*图片轮播*/
body{
	font-family:"Microsoft YaHei";
}
.carousel-inner>.item{
	height: auto;
	max-height: 500px;
	overflow: hidden;
}
.carousel-inner>.item>img{
	width: 100%;
}

/*services*/
/*.title-v1 h2:after{
	width: 110px;
	margin-left: -55px;
}
.th-left{
	width: 100%;
	padding:10px 30px;
}
.th-left img{
	margin: 0 auto;
	border-radius: 50%;
	border:1px solid #666;
	display: block;
}
.th-right{
	padding:10px 30px;
}
@media (min-width: 768px){
	.th-left{
		float: left;
		width: 50%;
	}
	.th-right{
		float: left;
		width: 50%;
	}
}
.toc-2 ol{
	font-size: 18px;
}
.toc-2 ol p{
	font-size: 0.8em;
	margin-bottom: 0;
	opacity: 0.7;
}
.toc-3 ul li{
	font-size: 1.1em;
}
.toc-4{
	margin-bottom: 20px;
}
.toc-4 ul{
	font-size: 18px;
}
.toc-4 ul p{
	font-size: 0.8em;
	margin-bottom: 0;
	opacity: 0.7;
}*/

.btn-u.btn-brd.btn-u-dark {
	color: #fff;
	background: #3498db;
}

/*get from doxue*/
.big-title{
	color:#d3212a;
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	line-height: 60px;
}
.ahead-tip{
	text-align: center;
	letter-spacing: 4px;
	padding-top: 8px;
	font-size: 18px;
  color: #282828;
}
.ahead-img{
	display: block;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 20px;
}